.boggle-board {
    background: #61DAFB;
    padding: 15px 15px 5px 15px;
    width: 300px;
    margin: 0px;
    height: 310px;
    border-radius: 15px;
}

.row {
    width: 300px;
    display: block;
}

.row button:last-child {
    margin-right: 0;
}
