.row button {
    width: 67px;
    height: 67px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
    outline: none;
    text-transform: uppercase;
}

.cell {
    background: rgb(253, 228, 188);
    border: solid 1px #757575;
    box-shadow: 2px 2px 5px rgba(255, 204, 128, .25);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #18252e;
    width: 100%;
    user-select: none;
}

.cell:hover {
    background: #fcf6ea;
    cursor: pointer;
}

.cell-selected {
    background: #FF9800;
    border: solid 1px #FB8C00;
    box-shadow: inset 2px 2px 5px rgba(223, 121, 10, .7);
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.cell-selected:hover {
    background: #EF6C00;
    cursor: pointer;
}
