/* Game Area */

.game-area {
    padding: 20px;
    margin:0;
    float: left;
    width: 300px;
}

.clear {
    clear: both;
}

/* Button States */
.button {
    width: 100%;
    border-radius: 5px;
    background-color: #FF9800;
    margin-top: 25px;
    padding: 20px 0;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
    box-shadow: 2px 2px 5px rgba(255, 204, 128, .25);
    display: block;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    letter-spacing: 3px;
}

.button:hover {
    background: #EF6C00;
    cursor: pointer;
}

.errorMessage{
    text-align: center;
    color:  red;
    font-weight: bold;
}

#display-timer{
    text-align: center;
}


