@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Global */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #18252e;
  text-transform: uppercase;
}

.container {
  width: 630px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
}

.boggle-logo {
  width: 60px;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}

/* Accessibility */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
}

.hidden{
  display: none;
}

.allBoardWordList{
  width: 600px;
  text-align: center;
}